@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.block-style, #wrap .container .audio-wrap, #wrap .container blockquote, #wrap .container form input, #wrap .container form textarea, #wrap .container form button, #wrap .container form .select-wrap {
  background: #f9f9f9;
  border: 0;
  border-left: 10px solid #ddd;
  padding: 1rem;
  border-radius: 1px; }

.cta-button {
  font-size: 1rem;
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color .25s;
  border-radius: .25rem; }
  .cta-button.cta-filled, #wrap .container form button {
    color: #f5f5f5;
    background-color: #4585F2;
    border: 0; }
    .cta-button.cta-filled:hover, #wrap .container form button:hover {
      transition: background-color .25s;
      background-color: #75a4f5; }

* {
  box-sizing: border-box; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px; } }

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px; } }

.flex-grid {
  margin-bottom: 1rem;
  display: flex; }
  .flex-grid .col {
    flex: 1; }

.flex-grid-thirds {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between; }
  .flex-grid-thirds .col {
    width: 32%; }

.flex-grid-halfs {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between; }
  .flex-grid-halfs .col {
    width: 48%; }

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3rem; }

h1, h2, h3, h4, .heading {
  font-family: "Lato", sans-serif;
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.157rem; }

h2 {
  font-size: 2.369rem; }

h3 {
  font-size: 1.777rem; }

h4 {
  font-size: 1.333rem; }

small, .font_small {
  font-size: 0.75rem; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

a {
  color: #4585F2;
  text-decoration: underline; }
  a:hover {
    color: #75a4f5;
    text-decoration: none; }

#wrap .stripe {
  background-color: #eaeaea;
  padding: 2rem 0;
  margin: 2rem 0; }
  #wrap .stripe .container {
    max-width: 750px; }
  #wrap .stripe.footer {
    margin-top: 3rem;
    margin-bottom: 0; }
    #wrap .stripe.footer .container {
      max-width: 960px; }
  #wrap .stripe + .stripe {
    margin-top: -2rem;
    background-color: #f1f1f1; }

#wrap .container {
  position: relative;
  max-width: 960px;
  width: 90%;
  margin: 0 auto; }
  #wrap .container img {
    max-width: 100%; }
  #wrap .container ul, #wrap .container ol {
    margin: 0 0 1rem 2rem;
    list-style: disc; }
  #wrap .container ol {
    list-style: decimal; }
  #wrap .container hr {
    border: 0;
    border-top: 10px solid #ddd; }
  #wrap .container figure {
    float: right;
    width: 45%;
    margin: .25rem 0 1rem 2rem; }
    #wrap .container figure figcaption {
      font-style: italic;
      font-size: 1.15rem; }
  #wrap .container .video-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ddd;
    margin-bottom: 1rem; }
    #wrap .container .video-wrap video {
      width: 100%;
      height: 56.25%;
      /* 16:9 */ }
  #wrap .container .audio-wrap {
    display: inline-flex;
    padding: 0;
    margin-bottom: 1rem;
    height: auto;
    min-height: 1.5rem; }
    #wrap .container .audio-wrap audio {
      display: inline-block;
      height: auto; }
  #wrap .container blockquote {
    position: relative;
    margin: 1.5rem 0;
    quotes: "“" "”" "‘" "’"; }
    #wrap .container blockquote:before {
      position: absolute;
      color: #ddd;
      content: open-quote;
      font-family: "Lato", sans-serif;
      font-size: 4em;
      top: -2.1rem;
      left: .75rem; }
    #wrap .container blockquote p {
      font-size: 1.5rem;
      font-family: "Lato", sans-serif;
      font-style: italic;
      display: inline; }
    #wrap .container blockquote footer {
      color: #6a6a6a; }
  #wrap .container form {
    margin-bottom: 1.5rem; }
    #wrap .container form label {
      font-weight: 600; }
    #wrap .container form input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #6a6a6a; }
    #wrap .container form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #6a6a6a; }
    #wrap .container form input:-ms-input-placeholder {
      /* IE 10+ */
      color: #6a6a6a; }
    #wrap .container form input:-moz-placeholder {
      /* Firefox 18- */
      color: #6a6a6a; }
    #wrap .container form input, #wrap .container form textarea {
      display: block;
      margin-bottom: 1rem;
      min-width: 45%; }
    #wrap .container form input, #wrap .container form textarea, #wrap .container form button {
      font-size: 1rem;
      padding: .5rem .5rem; }
    #wrap .container form .select-wrap {
      display: block;
      min-width: 33%;
      padding: 0;
      margin-bottom: 1rem; }
      #wrap .container form .select-wrap select {
        color: #6a6a6a;
        font-size: 1rem;
        width: 100%;
        height: 2.125rem;
        border: 0;
        background-color: transparent; }
    #wrap .container form fieldset {
      display: block;
      margin-bottom: 1rem; }
      #wrap .container form fieldset legend {
        font-weight: 600; }
      #wrap .container form fieldset label {
        display: block;
        font-weight: 400; }
        #wrap .container form fieldset label input {
          display: inline-flex;
          margin: 0; }
    #wrap .container form textarea {
      width: 100%;
      height: 6rem; }
    #wrap .container form .contact-business {
      display: none; }
    #wrap .container form button {
      padding: .5rem 1rem;
      cursor: pointer;
      font-weight: 400; }
  #wrap .container table {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #f9f9f9; }
    #wrap .container table tr th {
      background-color: #ddd;
      border: 1px solid #ddd;
      text-align: left;
      padding: .25rem .5rem;
      font-weight: 600; }
    #wrap .container table tr td {
      padding: .25rem .5rem;
      border: 1px solid #ddd; }
  #wrap .container.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.15); }
    #wrap .container.navbar nav {
      max-width: 960px;
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap; }
      #wrap .container.navbar nav a {
        height: 100%;
        min-height: 60px;
        min-width: 2rem;
        display: inline-flex;
        align-items: center;
        text-align: center;
        color: #ddd;
        padding: .25rem .5rem;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px; }
        #wrap .container.navbar nav a:hover {
          background-color: #4585F2;
          color: #fff; }
      #wrap .container.navbar nav a.logo {
        justify-content: center;
        padding: 0 1rem; }
        #wrap .container.navbar nav a.logo img {
          height: 1rem;
          width: auto; }
        #wrap .container.navbar nav a.logo svg {
          fill: #ddd; }
          #wrap .container.navbar nav a.logo svg.menu-icon {
            height: 1rem;
            width: 1rem; }
        #wrap .container.navbar nav a.logo:hover svg {
          fill: #fff; }
    #wrap .container.navbar.nav-scroll {
      position: fixed;
      border-bottom: 1px solid #d0d0d0;
      height: auto;
      background-color: #ddd; }
      #wrap .container.navbar.nav-scroll nav a {
        color: #6a6a6a; }
        #wrap .container.navbar.nav-scroll nav a svg {
          fill: #6a6a6a; }
        #wrap .container.navbar.nav-scroll nav a:hover {
          color: #fff; }
          #wrap .container.navbar.nav-scroll nav a:hover svg {
            fill: #fff; }
    #wrap .container.navbar.nav-top {
      position: absolute; }
  #wrap .container.hero {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0 0 3rem; }
    #wrap .container.hero svg {
      fill: #ddd; }
    #wrap .container.hero .content-overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: #f5f5f5;
      font-size: 1.333rem; }
      #wrap .container.hero .content-overlay .heading {
        font-size: 3.157rem; }
    #wrap .container.hero .img-overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
    #wrap .container.hero img.background {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      object-fit: cover; }

@media (max-width: 768px) {
  [class*="flex-grid"] {
    display: block; }
    [class*="flex-grid"] .col {
      width: 100%; } }

@media only screen and (max-width: 480px) {
  #wrap .container figure {
    width: 100%; }
    #wrap .container figure img {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
  #wrap .container form > input, #wrap .container form .select-wrap {
    width: 100%; } }

/*# sourceMappingURL=maps/style.css.map */
