@media (max-width: 768px) {
  [class*="flex-grid"] {
    display: block;
  }
  [class*="flex-grid"] .col {
    width: 100%;  
  }
  #wrap {
    .container {
      .table-wrap {
        overflow-x: auto;
      }
    }
    .footer .container > div .flex-grid-thirds .col {
      justify-content: center;
    }
  }

}

@media only screen and (max-width: 480px) {
  #wrap {
    .container {
      
      figure {
        width: 100%;
        img {
          display: block;
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
      
      form {
        > input, .select-wrap {
          width: 100%;
        }
      }
      
    }
  }
}